@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList;
@using X.PagedList.Mvc;
@model WorkPermitManagement.Models.WorkPermit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<table >
    <thead>
        <tr>
            <th> name</th>
            <th>salary </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="~/js/jquery/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.getJSON("../ WorkPermits/Details/{id}", function (pemrits) {
            $.map(permits, function (per) {
                $("#tblpermits tbody").append("<tr><td>"+per.name)

            });


        });



    })
</script>
<h1>Details</h1>

<div id="test">

    <h2>
        tttt
    </h2>
    <h1>
        aaaaa
    </h1>

</div>


<div id="parentDiv">
    <h4>WorkPermit</h4>
    <hr />
    <table class="row">
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CODE_CONT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CODE_CONT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CODE_DEM)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CODE_DEM)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CODE_REGIME)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CODE_REGIME)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CODE_AVANT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CODE_AVANT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_CONTRAT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_CONTRAT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_NATURE_CONTRAT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_NATURE_CONTRAT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_DATE_DEBUT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_DATE_DEBUT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_DATE_FIN)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_DATE_FIN)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_VAL_NOURRITURE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_VAL_NOURRITURE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_VAL_LOGEMENT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_VAL_LOGEMENT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_DATE_RESILIATION)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_DATE_RESILIATION)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_ACT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_ACT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_CAS_SOC)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_CAS_SOC)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_DELEG)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_DELEG)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_SIT_MAT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_SIT_MAT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_DATE_SAISIE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_DATE_SAISIE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_OBS)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_OBS)
            </td>
        </tr>

        <tr>

            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_SALAIRE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_SALAIRE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CARTE_SEJOUR)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CARTE_SEJOUR)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_EST_RESILIE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_EST_RESILIE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.DATE_LIVRAISON)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.DATE_LIVRAISON)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_DATE_ENVOI_DR)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_DATE_ENVOI_DR)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_UPDATE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_UPDATE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_PERSONNE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_PERSONNE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_PERSONNE_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_PERSONNE_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_PASSEPORT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_PASSEPORT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_NATIONALITE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_NATIONALITE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_NATIONALITE_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_NATIONALITE_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_FONCTION)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_FONCTION)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_FONCTION_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_FONCTION_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_ENT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_ENT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CAT_ENT)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CAT_ENT)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_EMPLOYEUR)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_EMPLOYEUR)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_EMPLOYEUR_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_EMPLOYEUR_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_EMPLOYEUR_ADR)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_EMPLOYEUR_ADR)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_EMPLOYEUR_ADR_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_EMPLOYEUR_ADR_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_NUM_CNSS)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_NUM_CNSS)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_ACTIVITE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_ACTIVITE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_SIGNER)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_SIGNER)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_SIGNER_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_SIGNER_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_QRCODE_FR)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_QRCODE_FR)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_QRCODE_AR)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_QRCODE_AR)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CODE_PERS)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CODE_PERS)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_ETAT_PAIE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_ETAT_PAIE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_MODE_PAIE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_MODE_PAIE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_REF_PAIE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_REF_PAIE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_DATE_PAIE)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_DATE_PAIE)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.synched)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.synched)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_CREATED_BY)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_CREATED_BY)
            </td>

        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_ACTIVITE_L)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_ACTIVITE_L)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.CONT_UPDATED_BY)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.CONT_UPDATED_BY)
            </td>
        </tr>




    </table>
</div>
<div>
    <a id="printPDF" class="btn btn-primary">Print </a>
    <a id="print" class="btn btn-primary">Print TEST </a>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{
    <script>
        $("#print").click(function () {
            var element = document.getElementById('test');
            html2pdf(element).save();
        }

                $("#printPDF").click(function () {
            var element = document.getElementById('parentDiv');
            html2pdf().from(element).set({
                margin: [30, 10, 5, 10],
                pagebreak: { avoid: 'tr' },
                jsPDF: { orientation: 'landscape', unit: 'pt', format: 'letter', compressPDF: true }
            }).save()
        });
                    // Workaround to fix style of text for showing items .. through .. esmaa mezelt lena maw ?eyy-
                    // Problem related to Boostrap 4 according to issue in link below
                    // https://github.com/dncuug/X.PagedList/issues/127
                   // $(document).ready(function () {
                    //    $('ul.pagination > li.disabled > a').addClass('page-link'); ???


                  //  });

    </script>


}
